

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat, sans-serif;
    color: white;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    color: black;
    
  }

body {
  background-color: #333;
}

.form-inner input[type=submit] {
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  .form-inner input[type=submit]:hover {
    opacity: 0.8;
  }

  .h2nav {
    color: white;
  }

  .form-inner {
    border: solid black 2px;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  form {
    padding-top: 70px;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .error {
      color: red;
      padding-top: 10px;
      padding-bottom: 10px;
  }

.form-inner img {
    width: 300px;
    padding-left: 20px;
}

.navbar {
  background-color: #202020;
  padding: 0 15px;
}

.footer {
  background-color: #202020;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.footer b {
  color: white;
}

.container {
  padding: 0 30px;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  margin-left: 20px;
}

.navbar a {
  font-size: 18px;
  color: white;
  text-decoration: none;
}

.nav {
  list-style-type: none;
}

li {
  padding: 10px;
}

a:hover {
  color: #ccc;
}

.form-check {
  border: 1px solid black;
  border-radius: 10px;
  width: 800px;
  padding: 10px;
  align-items: center;
  background-color: rgb(44, 44, 44);
  margin: 10px;
}

.form-container {
  display: flex;
  justify-content: center;
}

.form-control {
  padding: 2px;
}

.form-control input {
  border-radius: 10px;
  width: 250px;
}

.input-check {
  background-color: #202020;
  padding: 5px;
  cursor: pointer;
  width: 150px;
  height: 40px;
}

.form-check h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-check p {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icons:hover {
  transform: scale(1.2);
}

#search-container{
  display: flex;
  justify-content: center;
}

#searchbar {
  width: 350px;
  border-radius: 10px;
}

table {
  border: 1px solid black;
  border-radius: 10px;
  padding: 3px;
}

td, th {
  border: 1px solid #dddddd;
  border-radius: 5px;
  text-align: left;
  padding: 8px;
}

.input-dr {
  color: white;
  background-color: black;
  padding: 2px;
}

.input-dr:hover {
  cursor: pointer;
}

.input-number {
  color: black;
  width: 100px
}

.input-number-incoming {
  color: black;
}

.form-deliveryRow {
  padding: 5px;
}

.orderdata {
  display: flex;
  justify-content: space-around;
}

.orderInfo {
  border: 1px solid black;
  width: 300px;
  padding: 8px;
  border-radius: 5px;
  margin-left: 270px;
  margin-top: 20px;
}

.handle-incoming-rows-container {
  display: flex;
  width: auto;
  max-width: 800px;
}

.handle-incoming-rows {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.suggestion-div {
  cursor: pointer;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  margin: 4px;
  padding: 4px;
}

.suggestion-div:hover {
  background-color: gray;
}

.form-incoming {
  justify-content: baseline !important;
  align-items: center !important;
  margin: 0 !important;
  padding-top: 0px !important;
  list-style: none !important;
  display: list-item
}

.show-stock {
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  width: 350px;
}
